
#project-description {
    display: inline;
    font-size:1.5vw;
    margin-bottom: 10%;
    color:grey
}

#work-p {
    margin-top: 6%;
    margin-bottom: 0;
}

.bigger-text {
    font-weight: bolder;
    font-size: 4vw;
}

#work-link {
    text-decoration: none;
    color:grey;
    
}

#work-link:hover {
    color:black;
    font-size:7vw;
}

#work-link:hover #project-description {
    color:black;
}


.work-text {
    font-size: 8vw;
    font-weight: bolder;
}

