
#project-description {
    display: inline;
    font-size:3vw;
    color:lightgray;
}

#work-p {
    margin-top: 6%;
    margin-bottom: -4%;
}

.bigger-text {
    font-weight: bolder;
    font-size: 8vw;
}

#work-link {
    text-decoration: none;
    color:grey;
    
}

#work-link:hover {
    color:red;
    font-size:9vw;
}

#work-link:hover #project-description {
    color:black;
}


.work-text {
    font-size: 8vw;
    font-weight: bolder;
}

