
#project-description {
    display: inline;
    font-size:3vw;
    color:darkgray;
}

#work-p {
    margin-top: 6%;
    margin-bottom: -4%;
}

.bigger-text {
    font-weight: bolder;
    font-size: 8vw;
}

#work-link {
    text-decoration: none;
    color:dimgrey;
    
}

#work-link:hover {
    color:red;
    font-size:9vw;
}

#work-link:hover #project-description {
    color:black;
}


.work-text {
    font-size: 8vw;
    font-weight: bolder;
}

#project-links{
    display: block;
    font-size:1.5vw;
    color:lightgray;
    margin-top: -.5%;
}

#proj-link {
    text-decoration: none;
    color:lightgrey;
}

#proj-link:hover {
    color:red;
}
