.Main {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Logo {
  position:absolute;
  right: 40%;
  width: 40%;
 }
 .rocket {
  position: relative;
  left:20%;
  width: 40%;
 }


.App-main {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
